{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <table>
        <tr><th>URL</th><th>Views count</th><th>Last view</th></tr>
        {% for item in data.items %}
            <tr><td>{{ item.url }}</td><td>{{ item.viewsCount }}</td><td>{{ item.lastView|date("m/d/Y H:i:s") }}</td></tr>
        {% endfor %}
    </table>
    <br/>
    <form method="GET" action="/admin/activity">
        Per page:<input type="number" name="per_page" value="{{ data.perPage }}">
        Page:<input type="number" name="page" value="{{ data.page }}">
        <input type="submit" value="OK" />
    </form>
{% endblock %}